---
import BlogLayout from '../layouts/BlogLayout.astro';
import { getCollection } from 'astro:content';

const articles = await getCollection('articles');
---

<BlogLayout title="Home | WhyA11y">
	<h1>In New Assessment, C.I.A. Chief Says U.S. Strikes ‘Severely Damaged’ Iranian Program</h1>
	<p>The administration suggested an initial report of less-severe damage was already outdated as the president continued to defend his assertion that key facilities had been “obliterated,” though no intelligence official has yet directly echoed his view.</p>
	<h2>Articles</h2>
	<ul>
		{articles.map((article: any) => (
			<li>
				<a href={`/articles/${article.slug}`}>{article.data.title}</a> — <em>{article.data.date}</em>
				<br />
				<small>{article.data.description}</small>
			</li>
		))}
	</ul>
</BlogLayout>