---
import Header from '../components/Header.vue';
import Footer from '../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{Astro.props.title || 'WhyA11y'}</title>
		<style>
			.breadcrumbs {
				margin: 0 0 2rem 0;
				font-size: 0.8rem;
				color: var(--fg);
			}
			.breadcrumbs a {
				color: var(--fg);
				text-decoration: underline;
			}
			.breadcrumbs span {
				margin: 0 .5em;
			}
			.breadcrumbs ol {
				list-style: none;
				display: flex;
				flex-wrap: wrap;
				padding: 0;
				margin: 0;
			}
			*, *:focus {
				outline-color: var(--fg);
			}
		</style>
		<link rel="stylesheet" href="/styles/global.css" />
	</head>
	<body>
		<Header client:load />
		<main id="main-content">
			<div class="container">
				{Astro.url.pathname !== '/' && (
					<nav class="breadcrumbs" aria-label="Breadcrumb">
						<ol>
							<li>
								<a href="/">Home</a>
							</li>
							{Astro.url.pathname.split('/').filter(Boolean).map((segment, i, arr) => {
								const path = '/' + arr.slice(0, i + 1).join('/');
								const isLast = i === arr.length - 1;
								return (
									<li style="display: flex; align-items: center;">
										<span aria-hidden="true" style="margin: 0 0.5em;">/</span>
										{isLast ? (
											<span aria-current="page">{decodeURIComponent(segment)}</span>
										) : (
											<a href={path}>{decodeURIComponent(segment)}</a>
										)}
									</li>
								);
							})}
						</ol>
					</nav>
				)}
				<slot />
			</div>
		</main>
		<Footer />
	</body>
</html> 